@import "../../assets/stylesheets/global.scss";

.button {
  margin: 20px;
  padding: 1.2em 2.8em;

  cursor: pointer;
  align-self: center;

  box-sizing: border-box;
  appearance: none;
  background-color: transparent;

  border-radius: 0.6em;
  border: 2px solid $secondary;
  color: $secondary;

  line-height: 1;

  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: $fontWeightSemiBold;
  font-size: $fontSizeSmall;

  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px $secondary inset;
  }

  @media screen and (min-width: $sizeLarge) {
    width: 275px;
    font-size: $fontSizeSmall;
  }
}
